body {
  background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 35%, rgba(2,0,36,1)  100%);
}

#arrayList {
  border-radius: 20px 0px 0px 20px; width: 60vh;
}

#calculate {
  border-radius: 0px 20px 20px 0px;
}