<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/static/styles.css"/>
    <script type="text/javascript"
	    src="https://cdn.jsdelivr.net/npm/brython@3.9.1/brython.min.js">
    </script>
    <script type="text/javascript"
	    src="https://cdn.jsdelivr.net/npm/brython@3.9.1/brython_stdlib.js">
    </script>
    <script type="text/python" src="/static/script.py"></script>
  </head>

  <body onload="brython()">
    <h1 class="oi">Oi, projeto de Programação Dinâmica</h1>
  </body>
</html>